[Unit]
Description=Run MeteoOverMeshtastic on a schedule

[Timer]
OnUnitActiveSec=@RUN_INTERVAL_HOURS@h
AccuracySec=1min
Persistent=true
Unit=meteo-over-meshtastic.service

[Install]
WantedBy=timers.target
